@import url('https://fonts.googleapis.com/css2?family=Anton&family=M+PLUS+2:wght@100..900&display=swap');

.start{
    display:block;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    
}


body{
    margin: 0;
    padding: 0;
    background-color:rgb(104, 101, 109) ;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Anton, sans-serif;
}

.loading
{
    position: fixed;
    inset: 0;
    background-color:rgb(104, 101, 109);
    z-index: 2;
    opacity: 1;
    transition: opacity 500ms ease;
}

.loading::after{
    content:"";
    position: absolute;
    inset: 40%;
    border-radius: 50%;
    border: 50px dotted white;
    aspect-ratio: 1/1;
    border-top-color: black;
    border-left-color: rgb(120, 120, 120);
    border-right-color: rgb(119, 119, 119);
    animation: spinner 1s linear infinite;
}

@keyframes spinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

#game{
    background-color: rgb(23, 23, 23);
    display: flex;
}

.genre-title{
    background-color: rgb(172, 161, 161);
    border-left: 3px solid black;
    border-right: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1rem;

}

.question-card{
   display: flex;
   justify-content: center;
   align-items: center;
}

.card{
    width: 160px;
    height: 120px;
    background-color:#115ff3;
    color:white;
    border-left:3px ridge rgb(19,19,168);
    border-right:3px ridge rgb(11,11,91);
    border-top:3px ridge rgb(1,61,200);
    border-bottom:3px ridge rgb(20,20,89);
    text-align:center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height:120px;
}

.cardText{
    display:flex;
    text-align: center;
    justify-content: center;

}